<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

  <!-- Ini adalah element yang akan dikontrol oleh Vue. -->
  <body id="app">
    <div class="container-fluid px-4 py-3">
      <div class="row">
        <div class="col-12">
          <!-- Untuk memanggil sebuah data dari Vue, gunakan double curly bracket (2 kurung kurawal). -->
          <!-- Contoh : {{ nama_key_dalam_data }} -->

          <!-- Munculkan judul web disini. -->
          <h1>{{ title }}</h1>


          <!-- ############################################################################################### -->
          

          <!-- Gunakan v-bind dan v-model untuk mengubah data nama dan judul web dibawah. (Directive Data Binding) -->
          <p>Namaku {{ nama }}</p>
          <input type="text" class="form-control mb-2" placeholder="Masukkan nama mu disini" v-model="nama">
          <input type="text" class="form-control" placeholder="Masukkan judul web disini" v-bind:value="title">

          <!-- ############################################################################################### -->


          <!-- Gunakan v-if, v-else-if, dan v-else untuk menampilkan sebuah elemen dengan kondisi yang telah ditentukan. (Directive Conditional Rendering) -->
          <!-- Penerapan directive tersebut bisa dilihat dari contoh dibawah. --> 

          <div class="mt-3">
            <!-- Jika isEnabled true, maka ini akan muncul. Elemen dibawah if seperti else-if dan else akan diabaikan -->
            <!-- Namun jika isEnabled false, maka ini tidak akan muncul dan skip ke else-if atau else berikutnya. -->
            <p class="alert alert-primary" v-if="isEnabled">Ini isEnabled.</p>

            <!-- Jika isEnabled2 true, maka ini akan muncul. Elemen dibawah if seperti else-if dan else akan diabaikan -->
            <!-- Namun jika isEnabled2 false, maka ini tidak akan muncul dan skip ke else-if atau else berikutnya. -->
            <p class="alert alert-success" v-else-if="isEnabled2">Ini adalah isEnabled2.</p>

            <!-- Jika semua nilai sebelumnya false, maka ini yang akan muncul. -->
            <p class="alert alert-danger" v-else>isEnabled dan isEnabled2 bernilai false.</p>
          </div>


          <!-- ############################################################################################### -->


          <!-- Gunakan v-for untuk melakukan sebuah repetisi (repetition) atau pengulangan untuk memanggil data. (Directive Repetition / Looping) -->
          <!-- Data yang dipanggil dapat berbentuk array maupun object. -->
          <div>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>ID Barang</th>
                  <th>Nama Barang</th>
                  <th>Harga Barang</th>
                </tr>
              </thead>
              <tbody>
                <!-- Kita akan memanggil setiap Object pada array belanjaan dan memanggil setiap elemen nya menggunakan v-for.-->
                <!-- Setiap Object yang ada didalam array belanjaan akan kita sebut sebagai "item".-->
                <tr v-for="item in belanjaan">
                  <!-- Karena data berbentuk Object, maka panggil value berdasarkan key yang sudah ada. -->
                  <td>{{ item.id }}</td>
                  <td>{{ item.nama_barang }}</td>
                  <td>{{ item.harga }}</td>
                </tr>
              </tbody>
            </table>
          </div>


          <!-- ############################################################################################### -->


          <!-- Gunakan v-on untuk mengeksekusi sebuah function atau method dalam app Vue saat sebuah event dijalankan. (Directive Event Listening) -->
          <div class="card">
            <div class="card-body">
              <p>Tombol ditekan sebanyak {{ count }} kali.</p>
              <br>
              <p>Klik kiri untuk menambah, klik kanan untuk mengurangi.</p>
  
              <!-- Masukkan function yang akan dieksekusi nantinya pada directive v-on. -->
              <!-- Gunakan modifier (.) untuk mendengarkan event khusus. -->
              <button class="btn btn-info" v-on:click="tambahCount" v-on:click.right="count = count - 1">Tekan tombol ini</button>
            </div>
          </div>

          <div class="row my-4">
            <div class="col-3">
              <login-form title="Form login 2" :ada-username="true" />
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Kita dapat menggunakan Vue untuk pembelajaran dengan cara meng-include Vue dengan link CDN. -->
    <script src="https://unpkg.com/vue@next"></script>
    <script>
      // Untuk menggunakan Vue, mari kita menginisialisasikan Vue App dalam sebuah variable app.
      let app = Vue.createApp({

        // Untuk menyimpan data, buat sebuah function bernama data() dan kembalikan valuenya dalam bentuk Object.
        // Dalam Object tersebut itulah kita akan menambahkan data yang akan kita gunakan.
        // Data disimpan dalam bentuk key-value pair.
        data(){
          return {
            title: 'Judul web',
            nama: 'Budi',
            count: 0,
            isEnabled : false,
            isEnabled2 : false,
            belanjaan : [
              {
                id: 1,
                nama_barang: "Susu",
                harga : 5000
              },
              {
                id: 2,
                nama_barang: "Kecap",
                harga : 7000
              },
              {
                id: 3,
                nama_barang: "Sambel",
                harga : 7500
              }
            ]
          }
        },

        // Kita juga dapat menambahkan methods yang dapat digunakan nantinya dalam Vue App kita.
        // Untuk menambahkan function dalam methods di Vue, buat sebuah key bernama methods dan kembalikan dalam bentuk Object.
        // Dalam Object tersebut itu nantilah kita dapat mulai menambahkan function yang dapat kita gunakan.
        methods: {
          tambahCount(){
            // Untuk mengakses data yang ada dalam Object data(), maka gunakan keyword this.
            this.count = this.count + 1
          }
        }
      })

      // Kita juga dapat membuat component kita sendiri yang dapat digunakan dalam Vue App yang kita gunakan.
      // Caranya adalah dengan memanggil Vue App yang kita sudah inisialisasi di awal dan menyatakan component baru.
      // Dalam contoh dibawah ini, nama component yang akan kita gunakan adalah login-form.
      // Untuk menggunakan component ini nantinya kita cukup memanggil nama component yang sudah kita tentukan di awal.
      app.component('login-form', {

        // Supaya kita dapat menggunakan props seperti layaknya component bawaan HTML, kita juga dapat menyatakan props dalam custom component kita.
        // Caranya, buat sebuah key bernama props dan masukkan props yang ingin kita gunakan beserta tipe datanya.
        props: {
          title: String,
          adaUsername: Boolean
        },

        // Salah satu kelebihan dari Vue adalah kemampuannya untuk membuat sebuah custom component yang dapat kita gunakan berulang kali (Reusable Component).
        // Setiap kita memanggil component baru, sebuah instance baru pun tercipta.
        // Artinya, semua value yang kita masukkan di setiap component memiliki instance tersendiri dan terpisah dari yang lain.
        // Kita dapat membuat sebuah template di component kita, yang nantinya jika kita memanggil component tersebut di HTML, maka yang kita buat di template akan dirender di HTML kita.
        template: `
          <div class="card">
            <div class="card-body">
              <h2>{{ title }}</h2>
              <form @submit.prevent @submit="kirimData">
                <input type="username" class="form-control mb-2" v-if="adaUsername" v-model="username" placeholder="Username">
                <input type="email" class="form-control mb-2" v-model="email" placeholder="Email">
                <input type="password" class="form-control mb-2" v-model="password" placeholder="Password">
                <button class="btn btn-primary">Login</button>
              </form>
            </div>
          </div>
        `,

        // Cara membuat data yang dapat digunakan di component kita sama seperti saat kita menyatakan main component Vue kita.
        data(){
          return {
            username: "",
            email: "",
            password: ""
          }
        },

        // Hal itu juga berlaku untuk pembuatan methods dalam component kita.
        methods: {
          kirimData(){
            console.log(this.username, this.email, this.password)
          }
        }
      })

      // Untuk menerapkan / meng-mount Vue dalam HTML kita, kita memerlukan elemen yang nantinya akan digunakan oleh Vue untuk melakukan eksekusi DOM pada HTML.
      // Dalam contoh kali ini, kita memiliki body ber-id "app" yang akan kita kontrol semua element didalamnya mengguanakan Vue.
      app.mount('#app')
    </script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>